.hour-slice
{
    padding:10px;
}

.hour-slice:hover
{
    background-color:powderblue;
}

.booking-table-heading
{
    padding: 30px;
}

.hour-column
{
    background-color:palegreen;
    padding: 20px;
}

.hour-slice input:checked + span {
    background-color:lightcoral;
}